<?xml version="1.0"?>
<launch>
  <arg name="domain" default="$(optenv ROBOT_DOMAIN_CONFIG atemr)"/>
  <arg name="config_package" default="$(optenv ROBOT_LOCALIZATION_CONFIG_PACKAGE atemr_localization)"/>
  <arg name="maps_folder" default="maps"/>
  <arg name="maps_path" default="$(eval find(config_package) + '/' + maps_folder)"/>
  <arg name="map_name" default="blank"/>

  <!-- Run the map server (saver)-->
  <node name="map_saver_node" pkg="map_server" type="map_saver" args="-f $(arg maps_path)/$(arg map_name)">
		<remap from="map" to="$(arg map_topic)"/>
	</node>
</launch>
