<?xml version="1.0"?>
<launch>
  <arg name="domain" default="$(optenv ROBOT_DOMAIN_CONFIG )"/>
  <arg name="global_frame" default="$(optenv ROBOT_GLOBAL_FRAME_CONFIG map)"/>
  <arg name="odom_frame" default="$(optenv ROBOT_ODOMETRY_FRAME_CONFIG odom)"/>
  <arg name="base_frame" default="$(optenv ROBOT_BASE_FRAME_CONFIG base_footprint)"/>

  <arg name="odom_topic" default="/base_controller/odom"/>
  <arg name="pose_topic" default="/pose_with_covariance_stamped"/>
  <!--arg name="hector_odom_topic" default="/hodom_scanmatch_odom"/-->
  <arg name="imu_topic" default="/imu/data"/>

     <!-- ekf_loc1 fuses only continuous data (imu and odometry). Publish the tf from odom_frame to base_footprint -->
   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_loc_odom" clear_params="true" output="screen">      
      <remap from="odometry/filtered" to="$(arg domain)/odometry/filtered_odom" />
      <param name="frequency" value="30"/>
      <param name="sensor_timeout" value="0.1"/>
      <param name="publish_tf" type="bool" value="true"/>
      <param name="two_d_mode" type="bool" value="true"/> 
      <param name="odom_frame" value="$(arg odom_frame)"/>
      <param name="base_link_frame" value="$(arg base_frame)"/>
      <!-- if robot_localization is performing local fusing, ie is calculating the odometry, :
        world_frame MUST BE set to the same value as odom_frame
        map_frame MUST NOT BE set
      -->
      <param name="world_frame" value="$(arg odom_frame)"/>
      <param name="odom0" value="$(arg odom_topic)"/>
      <!--param name="odom1" value="$(arg hector_odom_topic)"/-->
      <param name="pose0" value="$(arg pose_topic)"/>
      <param name="imu0" value="$(arg imu_topic)"/>

      <!-- from summit odom, we only take vx and vy. even if the robot is differential (cannot strafe, vy != 0) is good to fuse vy -->
      <rosparam param="odom0_config">[false, false, false,
                                      false, false, true,
                                      true, true, false,
                                      false, false, true,
                                      true, false, false]</rosparam>
                                      
      <!--rosparam param="odom1_config">[false, false, false,
                                      false, false, false,
                                      false,  false, false,
                                      false, false, false,
                                      false, false, false]</rosparam-->
                                      
      <rosparam param="pose0_config">[false, false, false,
                                     false, false, false,
                                     true, true, false,
                                     false, false, false,
                                     false, false, false]</rosparam>

      <rosparam param="imu0_config">[false, false, false,
                                     false, false, true,
                                     false, false, false,
                                     false, false, true,
                                     false, false, false]</rosparam>

      <!-- if two or more sources provide absolute pose (position + orientation), the _differential parametet MUST BE TRUE for ALL of them except for ONE --> 
      <param name="odom0_differential" value="true"/>
      <!--param name="odom1_differential" value="true"/-->
      <param name="pose0_differential" value="false" />

      <param name="odom0_queue_size" value="15" />
      <param name="pose0_queue_size" value="20" />
      <!--param name="odom1_queue_size" value="8" /-->
      <param name="imu0_queue_size" value="10" />

      <!-- if the _relative parameter is set to TRUE, the initial state is the origin for both position and orientation -->
      <param name="odom0_relative" value="false"/>
      <!--param name="odom1_relative" value="false"/-->
      <param name="pose0_relative" value="false"/>
      <param name="imu0_relative" value="true"/>

      <param name="print_diagnostics" value="false"/>
      <param name="use_control" value="false"/>
      <rosparam param="process_noise_covariance">
                                                [5e-3, 0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    5e-3, 0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    1e-3, 0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0.3,  0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0.3,  0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0.05, 0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0.5,   0,     0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0.5,   0,    0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0.1,  0,    0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0,    0.3,  0,    0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.3,  0,    0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.3,  0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.3,  0,    0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.3,  0,
                                                0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.3]
      </rosparam>
      <rosparam param="initial_estimate_covariance">
                                                [1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    1.0,  0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    1.0,  0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    1e-9, 0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    1.0,  0,    0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    1.0,  0,    0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    1.0,  0,     0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    0,    1.0,   0,     0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     1.0,   0,     0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     1.0,   0,    0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     1.0,  0,    0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    1.0,  0,
                                                0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    1.0]
      </rosparam>
   </node>

</launch>
